# Network Configuration
NPM_IP=192.168.0.197
PIHOLE_IP=192.168.0.198

# Paths
CONFIG_PATH=/opt/docker

# Pi-hole
TZ=Europe/Lisbon
PIHOLE_PASSWORD=

# DDNS Configuration
DUCKDNS_DOMAIN=
DUCKDNS_TOKEN=

